
* {
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
div {
    width: calc(33% - 42px);
    float: left;
    margin: 10px 10px 30px;
    border: 1px solid red;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}
.dacbiet {
    background-color: rgb(179, 151, 205);
    border: 1 solid orange;
}